*~
*.o
*.lo
*.a
*.la
/build*/

# autotools stuff
/m4/lt*.m4
/m4/libtool.m4
/aclocal.m4
/ltmain.sh
/install-sh
/config.guess
/config.h.in
/config.sub
/autom4te.cache/
/compile
/configure
/depcomp
/missing
/test-driver

# automake
/ar-lib
Makefile.in

# cscope and other tags
/cscope.*
/GPATH
/GRTAGS
/GSYMS
/GTAGS

src/h264encoder
src/.deps/
src/Makefile
768-will-crash-vpu.nals
ChangeLog
Makefile
NTSC_Test_Pattern.bmp
config.h
config.log
config.status
libtool
parse.pl
stamp-h1
stream.csv
tarball.sh

